<?xml version="1.0" encoding="utf-8"?>
<ArrayOfProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Property>
    <name>ExcludedCoreTexts</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListLabel</name>
    <value xsi:type="xsd:string">Record List</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkScriptureBooksWanted</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UpdateLexiconIfPossible</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllButSidebarLabel</name>
    <value xsi:type="xsd:string">Record List &amp; MainContent</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>IgnoreStatusPanel</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordClerk-DelayedGenreAssignment</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListWidthGlobal</name>
    <value xsi:type="xsd:int">200</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>MainContentLabel</name>
    <value xsi:type="xsd:string">Main Content</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>DoingAutomatedTest</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>HomographConfiguration</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UseVernSpellingDictionary</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowSidebar</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RemoveAnalyses</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>PreviousToolbarVersion</name>
    <value xsi:type="xsd:string">1</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarLabel</name>
    <value xsi:type="xsd:string">Sidebar</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ReversalIndexGuid</name>
    <value xsi:type="xsd:string">1636b9c1-276e-4543-8d75-57e8062eda58</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>InterestingScriptureTexts</name>
    <value xsi:type="xsd:string">47Kq2jVR/EKaFdPCA/zXKw==,bUT+LQHpEk6tE0+KbYc4Ag==,bo5Dw0iWVEWq5jAU6dtaJQ==,9Hu8eSLAUU+bIo669V6fzw==,GQQ+sE/lYkGQM/+wWoaDCA==,cYys6vBA3UiVzSmuStiHBg==,moE+0G7/ZkaQWDXU9T3HzA==,H35LaAhwcUmk6DlTikY9aA==,8aFFX4N1j0miuorL71lUWw==</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowRecordList</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>entries.normalEdit.DataTree-SliceSplitterBaseDistance</name>
    <value xsi:type="xsd:int">150</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowShowNormalFields</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarWidthGlobal</name>
    <value xsi:type="xsd:int">140</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkSetupInfo</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>MultiPaneSplitterDistance_textsWords_interlinearEdit_EditViewTextsMultiPane</name>
    <value xsi:type="xsd:int">264</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowInsertLinkToFile</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>BestStyleName</name>
    <value xsi:type="xsd:string">????</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowState</name>
    <value xsi:type="FormWindowState">Maximized</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>grammarSketch_grammar</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>InterlinearTab</name>
    <value xsi:type="xsd:string">RawText</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
</ArrayOfProperty>